body {
	background-color: #b9e3b0;
}

h1 {
	font-size: 90px;
	text-align: left;
	font-family: 'Forum';
}

p {
	color: darkgreen;
	font-size: 20px;
	font-family: "IBM Plex Mono", sans-serif;
	font-weight: 500;
	font-style: italic;
}

img {
	/* border-radius: 40px; */
	z-index: 2;	
}

a:link {
	color: #b9e3b0;
	text-decoration: none;
}

	a:visited {
		color: darkgreen;
	}

	a:hover {
		background-color: rgb(219, 194, 158);
	}

	a:active {
		color: darkgreen;
	}

/* video {
	position: absolute;
	z-index: 0;
} */

.emphasis {
	letter-spacing: 7px;
}

.mega {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
/*	margin: 5%;*/
}

	.floaters {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		margin: 2%;
		z-index: 2;
	}

		.floaties {
			width: 14vw;
			margin: 10px;
			opacity: 0.7;
			filter: blur(5px);
			transition: width 0.6s ease-in, filter 1s ease-in;
		}

		.floaties:hover {
			width: 20vw;
			opacity: 1;
			filter: blur(0px);
		}

		.wash {
			width: 20vw;
			margin: 10px;
			translate: 0px 0px;
			transition: translate 2s ease-in;
		}

		.wash:hover {
			translate: -200px;
		}

	.container {
	/*	position: static;*/
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		margin: 2%;
		width: 50vw;
		margin: 2%;
/*		background-color: red;*/
	}

			#poem {
				display: flex;
				flex-direction: column;
		/*		background-color: blue;*/
			}

				#announce {
					color: blanchedalmond;
					background-color: inherit;
					text-shadow: 1px 1px 3px #b38e6b;
					z-index: 3;
				}

				#bodycopy {
					display:flex;
					flex-direction: column;
					align-items: stretch;
					width: 50vw;
		/*			background-color: blue;*/
				}

					.leanleft {
						text-align: left;
		/*				background-color: blue;*/
					}

					.leanright {
		/*				background-color: purple;*/
						align-self: flex-end;
						text-align: right;
					}

	/* #loo {
		z-index: 2;
		background-color: blue;
		width: 400px;
		height: 800px;
	} */

		#toilet {
			position: absolute;
			width: 400px;
			/* top: -50%;
			left: 30vw; */
			clip-path: circle(21% at 51% 65%);
			z-index: 3;
			filter: brightness(50%);
			transition: filter 0.5s ease;
		}

		#toilet:hover {
			filter:brightness(100%);
		}